:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-white);
  background-color: var(--color-black);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}

/* navbar */
#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.navbar__logo__icon {
  width: 40px;
}

.navbar__menu,
.navbar__link {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
}

.navbar__menu__item.active {
  color: var(--color-orange);
}

.navbar__menu__item:hover {
  color: var(--color-yellow);
}

.navbar__link__item {
  margin: 0 8px;
}

/* Home */
#home {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.home__info__btn {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 24px;
  padding: 8px 12px;
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
}

/* section common */
.section {
  padding: 50px;
  text-align: center;
}

/* about */
.about__description {
  margin: auto;
  max-width: 700px;
}

/* skillset */
.skillset__icon {
  width: 150px;
  transition: transform 200ms ease-in;
}

.skillset__icon:hover {
  transform: scale(1.1);
}
