:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-light-black: #191a19;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-white);
  background-color: var(--color-black);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}

/* navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-light-black);
  padding: 8px;
}

.navbar__icon {
  width: 40px;
}

.navbar__menu,
.navbar__link {
  display: flex;
}

.navbar__menu__item,
.navbar__link__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
}

.navbar__menu__item.active {
  color: var(--color-orange);
}

.navbar__menu__item:hover {
  background-color: var(--color-orange);
  color: var(--color-yellow);
}

.navbar__link__item {
  margin: 0 8px;
}

.navbar__toggle-btn {
  color: var(--color-white);
  top: 22px;
  right: 32px;
  font-size: 24px;
  position: absolute;
  display: none;
}
/* Home */
#home {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 80%;
  margin: auto;
  padding-top: 120px;
}

#home.transparent {
  opacity: 0;
}

.home__btn {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 24px;
  padding: 8px 12px;
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
}

/* section common */
.section {
  padding: 70px;
  text-align: center;
}

/* about */
.about__description {
  margin: auto;
  max-width: 700px;
}

/* skillset */
.skillset__icon {
  width: 150px;
  transition: transform 200ms ease-in;
}

.skillset__icon:hover {
  transform: scale(1.1);
}

/* Project */
.project {
  display: flex;
  justify-content: space-around;
}

.project__description {
  max-width: 500px;
  text-align: center;
}

.project__btn {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 30px 15px;
  color: var(--color-white);
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.project__btn:hover {
  border-color: var(--color-yellow);
  color: var(--color-yellow);
}

/* contact */
.contact__title {
  margin: 32px 0;
}

.contact__links {
  margin: auto;
  display: block;
  max-width: 500px;
  min-width: 200px;
  height: 100px;
  line-height: 100px;
  border: 1px solid var(--color-white);
  margin-bottom: 20px;
  border-radius: var(--size-border-radius);
}

/* arrow up */
.arrow-up {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 60px;
  height: 60px;
  font-size: 30px;
  background-color: var(--color-light-black);
  color: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* for below 768px screen width */
@media screen and (max-width: 768px) {
  /* navbar */
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu,
  .navbar__link {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  /* home */
  #home {
    flex-direction: column;
  }
  .home__avatar {
    width: 200px;
  }

  /* skillset */
  .skillset__icon {
    width: 100px;
  }

  /* projects */
  .project {
    flex-direction: column;
  }
  .project__img {
    max-width: 400px;
  }
}
